doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Manifesto Caipira da Agilidade
    meta(name='description', content='A framework for easily creating beautiful presentations using HTML')
    meta(name='author', content='Hakim El Hattab')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui')
    link(rel='stylesheet', href='css/reveal.css')
    link#theme(rel='stylesheet', href='css/theme/black.css')
    // Code syntax highlighting
    link(rel='stylesheet', href='lib/css/zenburn.css')
    // Printing and PDF exports
    link(rel='stylesheet', href='fa/css/font-awesome.css')
    //link(type="text/css", rel="stylesheet", href="css/styles.css")
    
    script.
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    //if lt IE 9
    script(src='lib/js/html5shiv.js')

  body

    .reveal
      // Any section element inside of this container is displayed as a slide
      .slides
        section
          h1 Manifesto Caipira<br/>da Agilidade
          p
            a(href='http://twitter.com/alanbraz', target="_blank") 
              i.fa.fa-twitter
              | @alanbraz
          small
            a(href="https://github.com/alanbraz/manifesto-caipira", target="_blank")    
              i.fa.fa-github 
              |  github.com/alanbraz/manifesto-caipira
          br
          small
            a(href="http://manifesto-caipira.mybluemix.net", target="_blank")  
              i.fa.fa-tv
              |  manifesto-caipira.mybluemix.net
          p
            a(href="http://caipiraagil.com", target="_blank") #caipiraagil
          small 19 de Setembro de 2015
            
        //section(data-background="images/manifesto.png", style="padding: 20px;")
        
        section
          a(href="http://manifestoagil.com.br/", target="_blank")
            img(src="images/manifesto.png")
        
        section
          h3 Começando apresentação ágil
          ul
            li.fragment Visão 
              span.fragment.highlight-blue Montar nosso manifesto ágil através de exemplos
            li.fragment Clientes e usuários 
              span.fragment.highlight-blue parcipantes = vcs!
            li.fragment Coach / facilitador 
              span.fragment.highlight-blue eu?!
            li.fragment Prazo fixo 
              span.fragment.highlight-blue 30 minutos!
            li.fragment Escopo  
              span.fragment.highlight-blue aberto: práticas ágeis
            li.fragment Equipe de desenvolvimento 
              span.fragment.highlight-blue 3 pessoas diferentes
            li.fragment Tecnologia 
              span.fragment.highlight-blue Slides com reveal-js em Jade
            li.fragment Ferramentas 
              span.fragment.highlight-blue 
                a(href="http://github.com/", target="_blank") Github
                | , 
                a(href="http://hub.jazz.net/", target="_blank") IBM DevOps
                | , 
                a(href="http://bluemix.net/", target="_blank") IBM Bluemix
            li.fragment Processo iterativo e incremental 
              span.fragment.highlight-blue Scrum?!
              
        section
          h3 Processo "Brazcrum"
          p Uma rodada consiste em...
          table
            thead
              tr
                th Atividade
                th Minutos
            tbody
              tr
                td Definir tema
                td 1
              tr
                td Desenvolver
                td 5
              tr
                td Apresentar
                td 1
              tr
                td Refletir
                td 1
          
        section
          section
            h1 Exemplos
          
          section
            p Tema: sistema puxado, sob-demanda
            div(style="float: left; width: 45%")
              img.photo-left(width='100%', height='100%', data-src='images/uber_taxi.jpg')
            div(style="float: left; width: 10%")
              p + ágil que
            div(style="float: left; width: 45%")
              img.photo-right(width='100%', height='100%', data-src='images/taxis.jpg')
            div(style="clear: both;")
              small Equipe: Alan, Gabriela
                
          section
            p Tema: escopo fechado, tempo fixo
            div(style="float: left; width: 45%")
              img.photo-left(width='100%', height='100%', data-src='images/crossfit.jpg')
            div(style="float: left; width: 10%")
              p + ágil que
            div(style="float: left; width: 45%")
              img.photo-right(width='100%', height='100%', data-src='images/ficha.jpg')
            div(style="clear: both;")
              small Equipe: Alan, Gabriela
              
        section
          h2 Backlog de possíveis temas
          ul 
            li Planejamento
            li Estimativas
            li Programação em par
            li Reunião diária
            li TDD
            li Requisitos
            li Product Backlog
            li Gestão de projetos
            li Contratos
            li Integração Contínua
            li ...
              
        // comece aqui
        section
          p Tema: pair programming
          div(style="float: left; width: 45%")
            img.photo-left(width='100%', height='100%', data-src='https://i.vimeocdn.com/video/454430273_640.jpg')
          div(style="float: left; width: 10%")
            p + ágil que
          div(style="float: left; width: 45%")
            img.photo-right(width='100%', height='100%', data-src='http://s.glbimg.com/po/tt/f/original/2012/06/06/ericsimons.png')
          div(style="clear: both;")
            small Equipe: Paulo, Guilherme, Rogério
            
        section
          p Tema: escopo fechado, tempo fixo
          div(style="float: left; width: 45%")
            img.photo-left(width='100%', height='100%', data-src='https://i.vimeocdn.com/video/454430273_640.jpg')
          div(style="float: left; width: 10%")
            p + ágil que
          div(style="float: left; width: 45%")
            img.photo-right(width='100%', height='100%', data-src='images/ficha.jpg')
          div(style="clear: both;")
            small Equipe: Alan, Gabriela
              
              
              
        section
          h2 Práticas utilizadas?
          p.fragment Esta apresentação foi realmente ágil?
          
          // qual formato é mais fácil?
          // qual é mais efetivo? engajamento?
          // intenso
          
          
          
    // não alterar à partir daqui
    script(src='lib/js/head.min.js')
    script(src='js/reveal.js')

    script.
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        transition: 'slide', // none/fade/slide/convex/concave/zoom
        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });
